@import "stylesheets/index";

.authForm {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;

  .formControl {
    margin-bottom: 1rem;

    label {
      width: 100%;
      display: block;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 5px 10px;
      margin: 8px 0;
      width: 100%;
      display: block;
      border: 1px solid $light-gray;
      box-sizing: border-box;
    }

    .errorMessage {
      color: $pink;
    }
  }

  .formActions {
    button {
      background: $pink;
      font: inherit;
      border: 1px solid $pink;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      margin-right: 1rem;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
      color: $white;
      cursor: pointer;

      &:hover, &:active {
        background: $purple;
        border-color: $purple;
      }
    }
  }
}