.detailListItem {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ff007c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .detailInfoLeft {
    width: 25%;
  }

  .detailInfoRight {
    width: 75%;
  }

  @media (max-width: 1024px) {
    .detailInfoLeft, .detailInfoRight {
      width: 100%;
    }
  }

  h1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.5rem;
    color: #ff007c;

    @media (max-width: 420px) {
      display: block;
    }
  }
}