@import "stylesheets/index";

.subscriptionItem {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $pink;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1rem;
    color: $pink;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    color: $dark-gray;
  }

  p {
    margin: 0;
  }

  span {
    margin-right: 10px;
    font-size: 0.8rem;
    color: $dark-gray;
  }

  .btn {
    background: $pink;
    font: inherit;
    border: 1px solid $pink;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: $white;
    cursor: pointer;

    &:hover, &:active {
      background: $purple;
      border-color: $purple;
    }
  }
}

